<div id = "completeitems"><%= render partial: 'todos/completeitems', locals: { statusobject: @projectstatus } %></div>
<div class="progress" id="progressbars">
  <%= render partial: 'todos/statusbar', locals: { statusobject: @projectstatus } %>
</div>
