<div class="page-header">
  <h1>Projects</h1>
  <%= link_to 'Create New Project', new_project_path, remote: true %>
</div>
<table class="table table-hover">
  <thead>
  <tr>
  <th>Project</th>
  <th>Active</th>
  </tr>
  </thead>
  <% @projects.each do |project| %>
  <tr id = <%= project.id %> >
    <%= render partial: 'projects/projectitem', locals: { project: project } %> 
  </tr>

  <% end %>

</table>