<div class="page-header">
  <h1><%= params[:name].titleize %> Category Todos</h1>
</div>

    <% unless session[:user_id].nil? %>
      
      <%= render partial: 'todos/list', locals: { todos: @projecttodos } %>

    <% end %>
