<div class="page-header" id = "projectheader">
  <%= render partial: 'projects/projectstatus' %>
</div>

    <% unless session[:user_id].nil? %>
      
      <%= render partial: 'todos/list', locals: { todos: @projecttodos } %>

    <% end %>
