<% unless session[:user_id].nil? %>

	<div class="page-header" id = "projectheader">
		<%= render partial: 'projects/projectstatus' %>
		<%= render partial: 'layouts/projectssidebar' %>
	</div>

	<div id = "todolist"><%= render partial: 'todos/list', locals: { todos: @todos } %></div>

<% end %>