<div class="page-header">
  <h1>Get Stuff Done</h1>
</div>

    <% unless session[:user_id].nil? %>
      
      <%= render partial: 'todos/list', locals: { todos: @todos } %>

    <% end %>

<br>



<%= link_to 'New Todo', new_todo_path, remote: true %>
