<% unless session[:user_id].nil? %>

<div class="page-header" id = "projectheader">
		<div class = "col-md=12"><%= render partial: 'projects/projectstatus' %></div>	
</div>
<div class = "row">
	<div class ="col-md-2">
		<%= render partial: 'layouts/projectssidebar' %>
	</div>
	<div class = "col-md-10" id = "todolist">
		<%= render partial: 'todos/list', locals: { todos: @todos } %>
	</div>
</div>

<% end %>